* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

    margin-top: 200px;
}

.formulaire {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    width: 300px;

}
